<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Girls Blog</title>
</head>
<body>
    <header>
        <h1><a href="/">Django Girls Blog</a></h1>
    </header>

    <article>
        <time>Published on: Tuesday 23rd April, 2024</time>
        <h2><a href="">My first Blog Post</a></h2>
        <p>This is my first blog post published this month, it is about how to develop a web application with django python framework. Django is one of the top most web framework developed to make web delevelopment very easy.</p>
    </article>

    <article>
        <time>Published on: Wednesday 24th April, 2024</time>
        <h2><a href="">My second Blog Post</a></h2>
        <p>This is my second blog post, it was published this month too, it is about how to structure your webpage with HTML. HTML - is a markup language which stands for Hypertext Markup Language, is one of the core technologies that support web.</p>
    </article>
</body>
</html>